@media screen and (min-width:1200px) {
    #main .table-responsive table.table {
        display: table;
        width: 100%;
    }
    #main .table-responsive table.table thead{
        display: table-header-group;
    }
    #main .table-responsive table.table tbody {
        display: table-row-group;
    }
    #main .table-responsive table.table tbody {
        display: table-row-group;
    }
    #main .table-responsive table.table tbody tr{
        display: table-row;
    }
    #main .table-responsive table.table tbody tr td{
        display: table-cell;
        width: auto;
        padding: 0!important;
        font-size: 14px;
    }
    #example-collapse-text{
        width: 100%;
    }
    .top-table #serching-input {
        height: 40px;
    }
    .top-table #AddConventionBtn button{
        width: 75%;
        height: 40px;
    }

    #main .table-responsive table.table tbody tr td button{
        width: initial;
        height: initial;
    }

    #main .table-responsive table.table tbody tr td button svg{
        width: initial;
        height: initial;
    }
    

    #main .table-responsive table.table tbody tr td:first-child {
        border-top-left-radius: 0;
        border-top: 0 solid #dee2e6;
    }

    #main .table-responsive table.table tbody td:last-child {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: 1px solid #dee2e6;
    }
    
    #main .table-responsive table.table tbody tr td.explore-btn button{
      width: 100%;
    }

    #main .table-responsive table.table tbody tr {
        border-top: 1px solid #dee2e6;
    }

    #main .table-responsive table.table tbody tr td:nth-child(4) {
        border-top-right-radius: 0;
        border-top: 1px solid #dee2e6;
    }
}