@media screen and (min-width:1200px){

    #main section.top-table {
        margin-bottom: 30px!important;
    }
    section.top-table div.mantine-Input-wrapper{
        width: 25%;
        margin: 0!important;
    }
}