#root {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    top: 0;
    overflow: auto;
    height: 100%;
}

@media screen and (min-width:1200px){
    #root{
        display: flex;
        flex-wrap: wrap;
        overflow-y: scroll;
    }
}

